<!DOCTYPE html>
<html lang="">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- ===========================
    SITE TITLE
    =========================== -->
		<title>PC基础技能</title>

		<!-- ===========================
    FAVICONS
    =========================== -->
		<link rel="icon" href="/img/favicon.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-ipad-retina.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-iphone-retina.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-ipad.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-iphone.png" />

		<!-- ===========================
    STYLESHEETS
    =========================== -->
		<link rel="stylesheet" href="/css/base/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/base/bootstrap.css" />
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

		<link rel="stylesheet" href="/css/base/style.css" />
		<link rel="stylesheet" href="/css/base/responsive.css" />
		<link rel="stylesheet" href="/css/pc-info.css" />
		<link rel="stylesheet" href="/css/pc-attr.css" />
		<link rel="stylesheet" href="/css/pc-skill.css" />
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/app/mui.min.css"/>

		<!--[if IE]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

		<style>
			.mui-control-content {
				background-color: #efeff4;
				height: 400px;
			}
			
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
		</style>
	</head>

	<body class="">
		<div class="mui-content">
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item" href="#item1mobile">
						已修技能
					</a>
					<a class="mui-control-item" href="#item2mobile">
						未修技能
					</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				<div class="mui-slider-group">
					<!-- ===========================
        left PART
        ============================ -->
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div id="study">

									<div class="col-4-1">
										<p>体型</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
										<p>教育</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
									</div>
									<div class="col-4-2">
										<p>体型</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
										<p>教育</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
									</div>
									<div class="col-4-3">
										<p>体型</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
										<p>教育</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
									</div>
									<div class="col-4-4">
										<p>体型</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
										<p>教育</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- ===========================
        left PART end
        ============================ -->

					<!-- ===========================
        right PART
        ============================ -->
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div id="scroll2" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div id="unstudy">
									<div class="col-4-1">
										<p>体型</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
									</div>
									<div class="col-4-2">
										<p>体型</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
									</div>
									<div class="col-4-3">
										<p>体型</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
									</div>
									<div class="col-4-4">
										<p>教育</p>
										<div class="progress">
											<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
												<span class="sr-only">65% Complete (success)</span>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
					<!-- ===========================
        right PART end
        ============================ -->
				</div>
			</div>

		</div>
		<script src="js/app/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack: false
			});
			(function($) {
				$('.mui-scroll-wrapper').scroll({
					indicators: false //是否显示滚动条
				});
				//				var html2 = '<ul class="mui-table-view"><li class="mui-table-view-cell">第二个选项卡子项-1</li><li class="mui-table-view-cell">第二个选项卡子项-2</li><li class="mui-table-view-cell">第二个选项卡子项-3</li><li class="mui-table-view-cell">第二个选项卡子项-4</li><li class="mui-table-view-cell">第二个选项卡子项-5</li></ul>';
				var item2 = document.getElementById('item2mobile');
				var item3 = document.getElementById('item3mobile');
				document.getElementById('slider').addEventListener('slide', function(e) {
					if(e.detail.slideNumber === 1) {
						if(item2.querySelector('.mui-loading')) {
							setTimeout(function() {
								//								item2.querySelector('.mui-scroll').innerHTML = html2;
							}, 500);
						}
					}
				});
				var sliderSegmentedControl = document.getElementById('sliderSegmentedControl');
				$('.mui-input-group').on('change', 'input', function() {
					if(this.checked) {
						sliderSegmentedControl.className = 'mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-' + this.value;
						//force repaint
						sliderProgressBar.setAttribute('style', sliderProgressBar.getAttribute('style'));
					}
				});
			})(mui);
		</script>

	</body>
	<!--necessary scripts and plugins-->
	<script src="/js/base/jquery.min.js"></script>
	<script src="/js/base/bootstrap.min.js"></script>
	<script src="/js/base/jquery.nicescroll.min.js"></script>
	<script src="/js/base/evenfly.js"></script>
	<script src="/js/base_skill.js"></script>

</html>