.skill-col-5-1{
	width: 15%;
	float: left;
}
.skill-col-5-2{
	width: 15%;
	float: left;
	margin-left: 5%;
}
.skill-col-5-3{
	width: 15%;
	float: left;
	margin-left: 5%;
}
.skill-col-5-4{
	width: 15%;
	float: left;
	margin-left: 5%;
}
.skill-col-5-5{
	width: 15%;
	float: left;
	margin-left: 5%;
}
