<!DOCTYPE html>
<html lang="">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- ===========================
    SITE TITLE
    =========================== -->
		<title>PC基础属性</title>

		<!-- ===========================
    FAVICONS
    =========================== -->
		<link rel="icon" href="img/favicon.png"/>
		<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-ipad-retina.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-iphone-retina.png"/>
		<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-ipad.png"/>
		<link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-iphone.png"/>

		<!-- ===========================
    STYLESHEETS
    =========================== -->
		<link rel="stylesheet" href="css/base/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/base/bootstrap.css"/>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

		<link rel="stylesheet" href="css/base/style.css"/>
		<link rel="stylesheet" href="css/base/responsive.css"/>
		<link rel="stylesheet" href="css/pc-info.css"/>
		<link rel="stylesheet" href="css/pc-attr.css"/>

		<!--[if IE]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body class="container">
		<!-- ===========================
        base info
        ============================ -->
		<div id="header" class="row">
			<div class="">
				<img class="propic info-base-left" src="img/bappy.jpg" alt=""/>
				<div class="info-base-right">
					<div class="">
						<h1>姓名</h1>
					</div>
					<ul class="list-unstyled">
						<li><span class="glyphicon glyphicon-info-sign info-base"></span>特征
						</li>
						<li><span class="glyphicon glyphicon-warning-sign info-base"></span>精神障碍
						</li>
						<li><span class="glyphicon glyphicon-list-alt info-base"></span>备注
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- base info end-->

		<hr class="firsthr"/>

		<!-- ===========================
        base value PART
        ============================ -->
		<div>
			<h3 class="mobmid">基础属性</h3>
		<!-- ===========================
        right PART
        ============================ -->
			<div class="col-md-6 mainright" style="float: right;">
				<p>体型</p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
						<span class="sr-only">65% Complete (success)</span>
					</div>
				</div>
				<p>教育</p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
						<span class="sr-only">65% Complete (success)</span>
					</div>
				</div>
				<p>灵感</p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
						<span class="sr-only">65% Complete (success)</span>
					</div>
				</div>
				<p>幸运</p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
						<span class="sr-only">65% Complete (success)</span>
					</div>
				</div>
				<p>知识</p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
						<span class="sr-only">65% Complete (success)</span>
					</div>
				</div>

			</div>
		<!-- ===========================
        right PART end
        ============================ -->
        
        <!-- ===========================
        left PART
        ============================ -->
			<div class="col-md-6 mainleft">
				<p>力量</p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 72%">
						<span class="sr-only">65% Complete (success)</span>
					</div>
				</div>
				<p>敏捷</p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 68%">
						<span class="sr-only">65% Complete (success)</span>
					</div>
				</div>
				<p>体质</p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 72%">
						<span class="sr-only">65% Complete (success)</span>
					</div>
				</div>
				<p>意志</p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 82%">
						<span class="sr-only">65% Complete (success)</span>
					</div>
				</div>
				<p>外貌</p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
						<span class="sr-only">65% Complete (success)</span>
					</div>
				</div>
				<p>智力</p>
				<div class="progress">
					<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
						<span class="sr-only">65% Complete (success)</span>
					</div>
				</div>
			</div>
		<!-- ===========================
        left PART end
        ============================ -->

		</div>
		<!--base value end-->

	</body>
	<!--necessary scripts and plugins-->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/evenfly.js"></script>

</html>